nav ul {
      list-style-type: none;
      margin: 1em 0;
      padding: 0 1em;
}
nav li {
      display: inline-block;
      padding: 0;
}
nav a {
      color: $color-nilgiris-green;
      text-decoration: none;
      padding: 0.5em;
      display: inline-block;
}
nav .active {
      background-color: $color-nilgiris-green;
      color: $color-white;
}
