<nav>
      <ul>
            <li>
                  <a routerLink="../new" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">New</a>
            </li>
            <li>
                  <a routerLink="../edit" routerLinkActive="active">Edit</a>
            </li>
      </ul>
</nav>
