login{
  font-family: $opensans-light;
  main{
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 80vh;
    .login-input-container{
      .form-group{
        .username-input{

        }
        .password-input{
          margin-top: 20px;
        }
        .table-input{
          margin-top: 20px;
        }
        .submit-button{
          margin-top: 20px;
          .btn-submit{
            width: 160px; margin: 5px; color: #fff; border-radius: 5px;
            background-color: $color-nilgiris-green;
          }
        }
      }
    }
    .loggedin-container{
          font-size: 30px;
   }
  }
}
