<header>
	<div class="row">
		<div class="col-md-10">
			<h2 class="header-title">Upload Master</h2>
		</div>
	</div>
</header>
<main>
	<div class="form-group"> 
		<div class="row">
			<div class="col-lg-4"></div>
			<div class="form-group col-lg-4">
				<div class="username-input input-container">
					<input type="text" class="form-control" placeholder="User Id" [(ngModel)]="user_id">
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-lg-4"></div>
			<div class="form-group col-lg-4">
				<div class="password-input input-container">
					<input type="password" class="form-control" placeholder="Password" [(ngModel)]="password">
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-lg-4"></div>
			<div class="form-group col-lg-4">
				<div class="password-input input-container">
					<input type="text" class="form-control" placeholder="OU Id" [(ngModel)]="ou_id">
				</div>
			</div>
		</div>
		<div class="row">
			<div class="submit-button text-center">
				<button type="submit" class="btn btn-submit" id="submit" (click)="login()">Login</button>
			</div>
		</div>
	</div>
</main>
