/* This file contains global CSS which isn't
   scoped to a particular module.
   You can control which files are sent to app.css
   in the brunch-config.js file. */
@font-face{
      font-family: "Open Sans Light";
      src: url("fonts/Open Sans/OpenSans-Light.ttf");
}

@font-face{
      font-family: "Open Sans";
      src: url("/fonts/Open Sans/OpenSans-Regular.ttf");
}

@import 'bootstrap';
@import 'variable.scss';
@import 'new/_new.component.scss';
@import 'navbar/_navbar.component.scss';

header{
      background-color: $color-nilgiris-green;
      color: $color-white;
      font-family: $opensans-light;
      padding: 20px;
      .header-title{
            margin: 0;
      }
}

a:focus, a:hover{
      text-decoration: none;
}
