//Colors
$color-nilgiris-green: #00A851;
$color-red: #EF0000;
$color-blue: #2980B9;
$color-orange: #F39C12;
$color-grey-one: #EBEBEB;
$color-grey-two: #F5F5F5;
$color-white: #FFFFFF;
$color-black: #0D0D0D;

//Fonts
$opensans-light: "Open Sans Light";
$opensans-regular: "Open Sans";
