new{
      font-family: $opensans-light;
      // .warn-container{
      //     #return-warn{
      //       position: fixed;
      //       width: 50vw;
      //       display: none;
      //       z-index: 1;
      //       margin: 10px 25vw;
      //       text-align: center;
      //     }
      // // }
      // .text-form{
      //       padding: 6px 15px;
      // }
      // .type-buttons{
      //       margin: 20px 35px 0;
      //       .type-button{
      //             background-color: $color-grey-two;
      //             color: $color-black;
      //             border-radius: 0px;
      //             border: 0;
      //             font-family: $opensans-light;
      //       }
      //       .active{
      //             background-color: $color-nilgiris-green !important;
      //             color: $color-white;
      //       }
      // }
      // .form-container{
      //       padding: 20px 40px;
      //       .func-select{
      //             padding:0 21px;
      //       }
      //       .invisibility{
      //             visibility: hidden;
      //       }
      // }
      // .total-rate{
      //       position: relative;
      //       text-align: right;
      //       padding: 15px 0px 15px;

      //       #total-rate-display,#amt_to_be_paid{
      //             width: 100px;
      //             min-width: 50px;
      //             margin-left: 20px;
      //             border: 1px solid #ccc;
      //             border-radius: 4px;
      //             padding: 6px 10px;
      //       }

      //       #total-margin-difference{
      //             width: 100px;
      //             min-width: 50px;
      //             margin-left: 20px;
      //             border: 1px solid #ccc;
      //             border-radius: 4px;
      //             padding: 6px 10px;
      //       }

      //       #discount,#inv_net_amount,#round_of_amt{
      //             width: 100px;
      //             min-width: 50px;
      //             margin-left: 20px;
      //             border: 1px solid #ccc;
      //             border-radius: 4px;
      //             padding: 6px 10px;
      //       }
      //        #base-amount, #tax-amount{
      //            width: 100px;
      //            min-width: 50px;
      //            margin-left: 20px;
      //            border: 1px solid #ccc;
      //            border-radius: 4px;
      //            padding: 6px 10px;
      //       }

      //        #shortage-amount{
      //            width: 100px;
      //            min-width: 50px;
      //            margin-left: 20px;
      //            border: 1px solid #ccc;
      //            border-radius: 4px;
      //            padding: 6px 10px;
      //       }
      // }
      // .btn-grp{
      //       width: 100%;
      //       position: relative;
      //       text-align: right;
      //       padding-top: 0px;
      //       .btn{
      //             width: 160px; margin: 5px; color: #fff; border-radius: 5px;
      //       }
      //       .btn-submit-new{
      //             background: $color-nilgiris-green;
      //       }
      //       .btn-submit-edit{
      //             background: $color-nilgiris-green;
      //       }
      // }
      .form-group{
            padding: 1%;
      }
      #jsGrid{
            .hide_column{
                  display:none;
            }
            min-height: 50vh;
      }
      // .ean-column{
      //       padding-left: 15px;
      // }
      .correct{
            color: $color-nilgiris-green;
      }
      .note{
            color:blue;
      }
      // #hidden-toggle-edit{
      //       display: none;
      // }
      // .invoice-icon{
      //       font-size: 24px;
      // }

}

.correct-row td:nth-child(14){
      color: $color-nilgiris-green;
}

.incorrect-row td:nth-child(14){
      color: red;
}

.button{
      right: 50%;
}

// .jsgrid-update-button{
//       display: none;
// }

.button-column{
      padding-right: 20px;
}
// 

