
<header>
	<div class="row">
		<div class="col-md-9">
			<h2 class="header-title">Workout Plan Detail</h2>
		</div>
		<div class="col-md-3 text-right">
			<button class="btn btn-success btn-view" (click)="logout()">Logout</button>
		</div>
	</div>
</header>
<main>

	<div class="form-group">
		  <div class="row">
			  <div class="form-group col-lg-4 row">
				  <label for="item_code" class="text-form col-lg-4">User ID</label>
				  <div class="col-lg-8">
					  <input type="text" [(ngModel)]="user_id" (keyup.enter)="getworkoutplanheader()" (keydown.tab)="getuserdetails()">
				  </div>
			  </div>
			  	<div class="form-group col-lg-4 row">
					<label  class="text-form col-lg-4" class="note">Press enter to update / Tab to create workout plan</label>
				</div>
			  <div class="form-group col-lg-4 row" *ngIf="access">
				  <label  class="text-form col-lg-4">User Name</label>
				  <div class="col-lg-8">
					  <label class="form-control" >{{first_name+" "+last_name}}</label>
				  </div>
			  </div>
		  </div>
		  <div class="row">
			  <div class="form-group col-lg-4 row">
				  <label for="vendor_code" class="text-form col-lg-4">From Date</label>
				  <div class="col-lg-4">
					  <input type="date" class="form-control" [(ngModel)]="fromdate" value="fromdate">
				  </div>
			  </div>
			  <div class="form-group col-lg-4 row">
				  <label for="vendor_desc" class="text-form col-lg-4">To Date</label>
				  <div class="col-lg-4">
						<input type="date" class="form-control" [(ngModel)]="todate" value="todate">
				  </div>
			  </div>
			  <div class="form-group col-lg-4 row">
				<div class="col-lg-6">
					<button (click)="fetchplandetails()">Fetch Plan Details</button>
				</div>
			</div>
			<div class="form-group col-lg-6 row">
			  <label  class="text-form col-lg-8" class="note">Enter date in fromdate field to fetch/dowmload plan</label>
		  </div>
		  </div>
		  <div class="row">
			  <div class="form-group col-lg-4 row">
				  <label for="margin_from" class="text-form col-lg-4">Template Id</label>
				  <div class="col-lg-8">
					  <select	id="templateid" (change)="settemplateid($event)">
						  <option *ngFor="let templateid of templateids" value="{{templateid.template_id}}" [selected]="template_id==templateid.template_id">{{templateid.template_id}}</option>
					  </select>
				  </div>
			  </div>
		  </div>
		  <div class="row">
			<div class="col-md-1"></div>
				<div class="form-group col-lg-2 row" *ngIf="create">
					<button (click)="maintainworkoutplanheader()" class="button">Create Workout Plan</button>
				</div>
				<div class="form-group col-lg-2 row" *ngIf="update">
						<button (click)="maintainworkoutplanheader()" class="button">update Workout Plan</button>
				</div>
				<div class="col-1"></div>
				<div class="col-lg-2"></div>
			  <div class="form-group col-lg-2 row">
					<button (click)="clear()">clear</button>
			  </div>
			  <div class="form-group col-lg-2 row">
				  <div class="row">
					<button (click)="downloadtemplate()">Download Template</button>
				  </div>
				  <div class="row">
						<input type="file" (change)="filechange($event)" name="filefield" multiple="multiple">
				  </div>
				  <div class="row">
						<button (click)="uploadtemplate()">upload</button>
				  </div>
			  </div>
		  </div>
	<div class="form-container">
		<form class="form-group" id="grid-form">
				<div id="jsGrid"></div>
		</form>
	</div>
	<div class="row">
		<div class="col-lg-5"></div>
			<div class="form-group col-lg-4 row">
				<button (click)="grid_submit()">Submit</button>
			</div>
				
	</div>
</div>
</main>